<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Barrikade Lens" Manufacturer="Barrikade Labs" Version="$(var.LensVersion)" UpgradeCode="6D7F81F0-8DC4-4E9F-AF7C-177F96C741D2" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer Barrikade Lens version is installed."/>
    <MediaTemplate EmbedCab="yes"/>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Barrikade Lens">
        <Component Id="LensBinary" Guid="62B80146-1C87-481B-8CB0-E08FFFF1A9C6">
          <File Id="LensExe" Name="barrikade-lens.exe" Source="$(var.LensBinary)" KeyPath="yes"/>
          <File Id="LensLicense" Source="$(var.LicenseFile)"/>
          <File Id="LensNotice" Source="$(var.NoticeFile)"/>
          <File Id="LensThirdPartyNotices" Source="$(var.ThirdPartyNoticesFile)"/>
          <File Id="LensFullCleanup" Source="$(var.FullCleanupScript)"/>
          <ServiceInstall Id="LensService" Name="BarrikadeLens" DisplayName="Barrikade Lens" Description="Managed autonomous-agent discovery collector" Start="auto" Type="ownProcess" ErrorControl="normal" Arguments="service run --config &quot;[CommonAppDataFolder]Barrikade\Lens\config.json&quot;"/>
          <ServiceControl Id="LensServiceControl" Name="BarrikadeLens" Start="install" Stop="both" Remove="uninstall" Wait="no"/>
        </Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="CompanyStateFolder" Name="Barrikade">
        <Directory Id="LensStateFolder" Name="Lens">
          <Component Id="LensStateDirectory" Guid="CD5DE9BF-C6B3-435D-8E4F-B0CA265AA90E" Permanent="yes" NeverOverwrite="yes">
            <CreateFolder>
              <PermissionEx Id="LensStatePermissions" Sddl="D:PAI(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)"/>
            </CreateFolder>
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>
    <Feature Id="Main" Title="Barrikade Lens">
      <ComponentRef Id="LensBinary"/>
      <ComponentRef Id="LensStateDirectory"/>
    </Feature>
  </Package>
</Wix>
